/* Use CMD/CTRL + F and search "||" to find sections in file */

/* || Root styles */

:root {
  --red: #ee3232;
  --white75: rgba(255, 255, 255, 0.75);
}

/* || Webflow Loading element styles */

.loader {
  display: flex;
}

/* || Clear Filters button */

.alg_clearrefinements-button--disabled {
    color: var(--cc-dark-mode-subtext)!important;
    padding: 7px 14px!important;
    font-family: Circularstd book,sans-serif!important;
    font-size: 11px!important;
    box-shadow: 0 0 0 0px rgba(0,0,0,0)!important;
    background-color: white!important;
}

.alg_clearrefinements-button--disabled:hover {
    color: var(--cc-dark-mode-subtext)!important;
    padding: 7px 14px!important;
    font-family: Circularstd book,sans-serif!important;
    font-size: 11px!important;
    box-shadow: 0 0 0 0px rgba(0,0,0,0)!important;
    background-color: white!important;
}

.alg_clearrefinements-button {
    color: rgba(145,23,19,.77);
    border-radius: 100vw;
    padding: 7px 14px;
    transition: box-shadow .2s,color .2s,background-color .2s;
    box-shadow: 0 0 0 1px rgba(145,23,19,.29);
    font-size: 11px;
}

.alg_clearrefinements-button:hover {
    background-color: var(--pill-hover);
    box-shadow: 0 0 0 1px var(--pill-hover);
    color: #ececec;
}

/* Prevent parent hover effects when child is hovered */
.cc_dropdown__list-item .boards_clickable:hover ~ * {
  pointer-events: none;
}

.cc_dropdown__list-item:hover > .boards_clickable {
  pointer-events: auto;
}

/* || Hits per page dropdown */

.ais-HitsPerPage-select:focus,
.ais-SortBy-select:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

/* || Genre component */

.webflow-refinmentlist-count {
  border-color: var(--white75);
  background-color: black;
  color: white;
  padding: 3px 6px;
}

.ais-RefinementList-labelText {
  font-size: 16px;
}

.webflow-refinmentlist-checkbox {
  width: 18px;
  height: 18px;
  border-color: var(--white75);
  background-color: var(--white75);
}

.webflow-refinmentlist-checkbox:checked {
  border-color: var(--white75);
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  background-color: var(--red);
  background-image: url(https://uploads-ssl.webflow.com/634823b431517915fb8148c7/6354515912c18def00a2436a_check.png);
}

/* || Rating component */

.webflow-rating-empty-star-icon {
  opacity: 40%;
}

.webflow-rating-count {
  border-color: var(--white75);
  background-color: black;
  color: white;
  padding: 3px 6px;
}

.webflow-rating-fullstar-icon {
  fill: white;
}

.webflow-rating-selected-item > div > a > svg {
  fill: yellow;
  stroke: none;
}

.webflow-rating-item > div > a > .webflow-rating-empty-star-icon {
  fill: white !important;
}

/* || Range slider component */

.rheostat-handle {
  width: 22px !important;
  height: 22px !important;
  border: none !important;
  outline: 2px solid var(--white75);
  border-radius: 50% !important;
  background-image: none !important;
  background-color: var(--red) !important;
  box-shadow: none !important;
}

.rheostat-tooltip {
  font-size: 12px;
}

.rheostat-value {
  font-size: 12px;
}

.ais-RangeSlider {
  width: 90%;
  margin-left: 6px;
}

.rheostat-progress {
  background-color: var(--red) !important;
}

.ais-RangeSlider .rheostat-handle:after,
.ais-RangeSlider .rheostat-handle:before {
  display: none !important;
}

/* || Search component */

.webflow-search-reset {
  position: absolute;
  right: 0px;
  top: -5px;
}

.ais-SearchBox-reset {
  position: absolute!important;
  right: 22px;
}

.ais-RefinementList-searchBox.ais-SearchBox-reset {
  position: absolute!important;
  right: 16px;
}

.ais-SearchBox-form:before {
  display: none;
}

.ais-SearchBox-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.ais-RefinementList-searchBox .ais-SearchBox-form {
  
  padding: 8px;
  font-size: 15px;
}

.ais-RefinementList-searchBox .ais-SearchBox-input {
  height: var(--button-pill-height-ai);
  padding-left: 36px;
}

.ais-SearchBox {
  height: 100%;
}

.ais-SearchBox-input {
  min-height: var(--button-height);
  background-color: var(--2024-form-field);
  color: #06122bc4;
  border: 0 #000;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 0;
  padding: 11px 16px 10px;
  font-family: Circularstd book, sans-serif;
  font-size: 16px;
  transition: all .2s;
  position: relative;
  box-shadow: 0 0 #a264ff00, 0 0 0 1px #282d3c17, 0 0 #00b7ff00, 0 0 #d5dbff00;
}

.ais-SearchBox-input:hover {
  background-color: var(--2023-hover-option-bg);
}

.ais-SearchBox-input.focus-visible {
  color: #06122bc4;
  background-color: #fff;
  border-color: #d7dde680;
  box-shadow: 0 -6px 10px -13px #a264ff24, 0 0 0 1px #a769d629, 0 6px 10px -1px #0096db14, 0 0 0 4px #dde2ff70;
  outline: none;
}

.searchbox .ais-SearchBox-input {
  background-color: white;
  padding: 11px 2rem 10px 3.775rem;
  border-radius: 0px;
  box-shadow: 0 0 #a264ff00, 0 0 0 0px #282d3c17, 0 0 #00b7ff00, 0 0 #d5dbff00;
 }

 .searchbox .ais-SearchBox-input.focus-visible {
  padding: 11px 2rem 10px 3.775rem;
  border-radius: 0px;
  box-shadow: 0 -6px 10px -13px #a264ff24, 0 0 0 1px #a769d629, 0 6px 10px -1px #0096db14, 0 0 0 4px #dde2ff70;
 }

.ais-SearchBox-submit {
  position: absolute;
  margin-left: 14px;
}

.ais-SearchBox-submitIcon {
  width: 13px;
  height: 13px;
  position: relative;
  top: 2px;
}

 
.webflow-search-input:focus {
  border-color: white;
}

.ais-RefinementList-noResults {
  padding: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Circularstd book, sans-serif;
}


/* || Powered by algolia component */

.webflow-powered-by {
  background: white;
  padding: 15px;
  height: 40px;
  justify-content: center;
}

/* || Stats component */

.webflow-label {
  display: none;
}

/* || Current filters component */

.webflow-current-refinement-list {
  display: block;
}

.webflow-current-refinement-delete {
  color: white;
}

.webflow-current-refinement-item {
  display: flex;
  flex-wrap: wrap;
  background: none;
  margin-bottom: 10px;
  border: none;
  padding: 0px;
}

.webflow-current-refinement-category {
  margin: 8px;
  flex-shrink: 0;
  color: white;
  border-radius: 4px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 3px 8px;
  margin-left: 0px;
  margin-right: 8px;
}

/* || Hits component */

.hit-wrap {
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.hit-wrap > a {
  height: 100%;
}

.hit-wrap > a > img {
  height: 100%;
  width: 100%;
}

.hit-wrap:hover {
  transform: translateY(-3px);
}

.hit-vote-average {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  bottom: -5px;
  right: -10px;
  color: white;
  background-color: var(--red);
  border-radius: 50%;
  height: 26px;
  width: 26px;
}

/* fixes empty state
.webflow-hit-empty {
  display: none;
}
*/

.ais-InfiniteHits-loadMore {
  max-height: var(--button-height);
    min-height: var(--button-height);
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    box-shadow: inset 0 1px 0 1px var(--cc-dark-button-top-accent-shadow), inset 0 1px 8px 0 #d3e7ffb3, 0 0 20px -6px #d3b3ff33, -5px -2px 20px -20px #c6a5e073, 4px 3px 20px -8px #cbb3ff78;
    color: var(--white);
    text-align: center;
    text-shadow: 0 0 40px #604ea5, 0 0 20px #52229580;
    white-space: pre;
    background-color: #0029ff;
    background-image: linear-gradient(355deg, #4b45b15e, #ffffff2e 85%), linear-gradient(33deg, #e8c4e0a3, #d6addfa3 30%, #d5b5ffa3 70%, #ddcdffa3), linear-gradient(#4e546000, #1018281c 49%, #10182800);
    background-position: 0 0, 0 0, 0 0;
    background-repeat: repeat, repeat, repeat;
    background-size: auto, auto, auto;
    border-top: 1px solid #e9f6ff9e;
    border-bottom: 1px solid #b0bae7c4;
    border-radius: 11px;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    font-family: Circularstd book, sans-serif;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;
    transition: all .25s cubic-bezier(.25,.46,.45,.94);
    display: flex;
    position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.ais-InfiniteHits-loadMore:hover {
  background-color: #47a6ff;
}

.ais-InfiniteHits-loadMore--disabled {
  display: none;
}

/* || Content editable input styles */

.cc_contenteditable-input {
    width: var(--text-length, 5rem);
    white-space: normal;
    overflow: visible;
}

.cc_contenteditable-input:hover {
    width: var(--text-length, 7rem);
}

.cc_contenteditable-input:focus-visible {
  outline: none!important;
  box-shadow: 0 0 0 1px var(--2022-form--skills--button-border-color), 0 0 0 0 #45daf86e;
}

.default-hover-state {
    background-position: 7px;
    padding-left: 2rem;
}

#measure-width {
    visibility: hidden !important;
    position: absolute !important;
    pointer-events: none !important;
}

/* || Root container for hits */

.webflow-hits-root {
  display: flex;
  flex-direction: column;
}

.webflow-hits-list {
  display: flex;
  flex-wrap: wrap;
}

  .webflow-hit-item {
   padding: 8px;
  }

@media (min-width: 2901px) {
  .webflow-hit-item {
    width: calc(100% / 6); /* 6 columns for extra large desktops */
  }
}

@media (max-width: 2900px) {
  .webflow-hit-item {
    width: calc(100% / 5); /* 5 columns for large desktops */
  }
}

@media (max-width: 2400px) {
  .webflow-hit-item {
    width: calc(100% / 4); /* 4 columns for desktops */
  }
}

@media (max-width: 2050px) {
  .webflow-hit-item {
    width: calc(100% / 3); /* 3 columns for tablets */
  }
}

@media (max-width: 1525px) {
  .webflow-hit-item {
    width: calc(100% / 2); /* 2 columns for small tablets */
  }
}

@media (max-width: 576px) {
  .webflow-hit-item {
    width: 100%; /* 1 column for mobile */
  }
}

/* || Pagination component */

.webflow-pagination-root {
  display: flex;
  justify-content: end;
}

.webflow-pagination-list {
  flex-wrap: wrap;
}

.webflow-pagination-selected-item {
  background-color: var(--red);
}

* > .webflow-pagination-link {
  font-size: 14px;
  padding: 20px;
  color: white;
  background-image: none !important;
  background-color: transparent !important;
}

* > .webflow-pagination-link:hover {
  background-color: var(--red) !important;
}

.webflow-pagination-disabled > * {
  opacity: 35%;
  cursor: not-allowed;
}
